<div id="page-content">
	<div class="cont932">
	<div id="journal-articles-block">
		<div class="journal-article">
			<div class="journal-post-info">
				<div class="journal-cat-box">
				{% assign categories_list = page.categories %}
				{% assign category = categories_list.first %}
				{% include themes/Snail/category.html %}
				{% assign categories_list = nil %}
				</div>
			</div>
			<div class="journal-body">
				<h1 class="journal-title">{{ page.title }}<span class="author">{% if page.tagline %}{{page.tagline}}{% endif %}</span>
				</h1>
				<span class="the-article">
				{{ content }}
				</span>
				<div class="journal-date">Published {{ page.date | date_to_long_string }}</div>
				<div class="journal-tags">
				{% assign tags_list = page.tags %}
				{% include themes/Snail/tags_list %}
				</div>
			</div>
			<div class="pagination">
               <ul>
                   {% if page.previous %}
                    <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; 上一页</a></li>
                   {% else %}
                    <li class="prev disabled"><a>&larr; 上一页</a></li>
                   {% endif %}
                    <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">目录</a></li>
                   {% if page.next %}
                    <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">下一页 &rarr;</a></li>
                   {% else %}
                    <li class="next disabled"><a>下一页 &rarr;</a>
                   {% endif %}
               </ul>
            </div>
		</div>
		<div class="clearboth"></div>
	</div>
</div>
	<div class="clearboth"></div>
	{% include JB/comments %}
	<div class="clearboth"></div>
</div>